<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/okok.css">
    <title>Profile</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">MAKU</a>
        <nav class="navbar">
            <a href="#" class="activate">Home</a>
            <a href="#">About</a>
            <a href="#">favorite</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
        </nav>

        <a href="#" class="contact">Contact Me</a>
    </header>
    
    <section class="home">
        <div class="home-content">
            <h3>Hi</h3>
            <h1>I'm <span><%=ign%><br></span> na wala magawa sa buhay </h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque voluptas hic ullam repellat totam. Laboriosam commodi necessitatibus ducimus distinctio consequuntur, aliquam dignissimos at. Commodi explicabo numquam, dolorum provident magnam enim.</p>

            <div class="btn-box">
                <button class="btn-1">hire me</button>
                <button class="btn-2">Expeerince</button>
            </div>
        </div>
        <div class="img-box">
            <img src="/css/imgs/messs.jpeg" alt="">
        </div>
    </section>
    
    <section class="favorite">
            <h1>My favorites</h1>
            <div class="container">
            <h2>foods</h2>
            <img src="/css/imgs/joy.jpg">
            <p><%=food%></p>
            <P><%=chicksentence%></P>
            </div>

            <h2>sports</h2>
            <img src="/css/imgs/badminton.jpg">
            <p><%=sport%></p>
            <p><%=sportsentence%></p>

            <h2>game</h2>
            <img src="/css/imgs/mobile.jpg">
            <p><%=game%></p>
            <p><%=gamesentence%></p>

            <h2>movies</h2>
            <img src="/css/imgs/ghibli.jpg">
            <p><%=anime%></p>
            <p><%=animesentence%></p> 
             </div>
    </section>
    <section class="contacts">
        <div>
            <h1>Contacts</h1>
            <h2><%=email%></h2>
            <button>sumbit your email</button>
            <h2><%=contact%></h2>
            <button>enter your contact number</button>
            <h2><%=github%></h2>
            <Button>press me </Button>
        </div>
    </section>
</body>
<footer>
    <p><%=sentence%></p>

</footer>
</html>