<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/okok.css">
    <title>Profile</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">MAKU</a>
        <nav class="navbar">
            <a href="#" >Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

      
    <section class="home">
        <div class="home-content">
            <h3>Hi</h3>
            <h1>I'm <span><%=ign%><br></span> <%=sentence1%> </h1>
           

            
        </div>
        <div class="img-box">
            <img src="/css/imgs/messs.jpeg" alt="">
        </div>
    </section>
    
    <section class="about" id="about">

        <div class="about-img">
            <img src="bad.jpeg" alt="">
        </div>
        <div class="about-content">
            <h3 class="heading">About <span>Me</span></h3>
            <p> I have learn some basic skills in python,javascript,and vb.net and in terms of database i  learn how to use xamp, mysql serv,and microsoft access
            <h2>I AM CURRENTLY TAKING  BACHERLOR OF SCIENCE IN <%=course%></h2>
           
        </div>
    </section>

    <section class="contact-form" id="contact">
        <h2 class="contact-me">Contact <span> Me </span></h2>

        <form action="#">

            <div class="box1">
                <p class="btn-1">email me in here <%=email%></p>
            </div>

            <div class="box2">
                <p class="btn-1">Contact me in here <%=contact%></p>
            </div>

            <div class="box3">
                <p class="btn-1">Here my Github Account <%=github%></p>
            </div>

    </section>
    <footer id="footer">
        <p>  Created in Month of May 21,2024. All rights reserved.</p>
    </footer>
</body>
</html>