<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/okok.css">
    <title>Profile</title>
</head>
<body>
    <section class="about">
        <div class="about me ">
            <h1 class="mee">About Me</h1>
            <img src="/css/imgs/oca.jpeg" class="ako">
          <container>
            <h2> helloo i'm  <%= ign%>  </h2>
            <p>ako ay <%=age%> years</p>
            <p>nakatira sa antipolo <%=address%> </p>
            <p>taking bs <%=course%></p>
          </container>
        </div>
    </section>
    <section class="favorite">
            <h1>My favorites</h1>
            <div class="container">
            <h2>foods</h2>
            <img src="/css/imgs/joy.jpg">
            <p><%=food%></p>
            <P><%=chicksentence%></P>
            </div>

            <h2>sports</h2>
            <img src="/css/imgs/badminton.jpg">
            <p><%=sport%></p>
            <p><%=sportsentence%></p>

            <h2>game</h2>
            <img src="/css/imgs/mobile.jpg">
            <p><%=game%></p>
            <p><%=gamesentence%></p>

            <h2>movies</h2>
            <img src="/css/imgs/ghibli.jpg">
            <p><%=anime%></p>
            <p><%=animesentence%></p> 
             </div>
    </section>
    <section class="contacts">
        <div>
            <h1>Contacts</h1>
            <h2><%=email%></h2>
            <button>sumbit your email</button>
            <h2><%=contact%></h2>
            <button>enter your contact number</button>
            <h2><%=github%></h2>
            <Button>press me </Button>
        </div>
    </section>
</body>
<footer>
    <p><%=sentence%></p>

</footer>
</html>